@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$Red: hsl(0, 100%, 66%);

$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

main {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;

  .container {
    display: flex;
    width: 100vw;
    justify-content: center;

    .left-side {
      width: 30%;
      height: 100vh;
      background-image: url("src/assets/bg-main-desktop.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;

      .purple-side {
        height: 245px;
        width: 447px;
        background-image: url("src/assets/bg-card-front.png");
        position: absolute;
        top: 25%;
        right: -100px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        justify-content: end;

        .logo-container {
          background-image: url("src/assets/card-logo.svg");
          height: 20%;
          width: 20%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: 20px;
          left: 20px;
        }

        .big-p {
          color: white;
          font-size: 2.2rem;
          width: 100%;
        }

        .on-card-bottom {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .small-p {
            color: white;
          }
        }
      }

      .gray-side {
        height: 245px;
        width: 447px;
        background-image: url("src/assets/bg-card-back.png");
        position: absolute;
        top: 55%;
        right: -200px;

        .small-p {
          color: white;
          position: absolute;
          top: 45%;
          right: 12%;
        }
      }
    }

    .right-side {
      width: 70%;
      display: flex;
      align-items: center;
      margin-left: 400px;

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 450px;

        label {
          font-size: 0.95rem;
          color: $Very-dark-violet;
          letter-spacing: 2px;
        }

        .err {
          color: red;
          font-size: 0.8rem;
          height: 1rem;
        }

        input {
          all: unset;
          height: 50px;
          border: 2px solid $Light-grayish-violet;
          border-radius: 8px;
          padding-left: 15px;
          margin-top: 10px;
          &::-webkit-inner-spin-button {
            appearance: none;
          }

          &::placeholder {
            color: $Light-grayish-violet;
          }

          &:focus {
            border: 2px solid $Dark-grayish-violet;
          }
        }

        .confirm-button {
          all: unset;
          width: 100%;
          text-align: center;
          height: 70px;
          border-radius: 8px;
          color: white;
          background-color: $Very-dark-violet;
          font-size: 1.9rem;

          &:hover {
            cursor: pointer;
            background-color: hsl(249, 99%, 64%);
          }

          &:active {
            background-color: $Very-dark-violet;
            transition: 0.2s ease;
          }
        }

        .big-section {
          display: flex;
          flex-direction: column;
        }

        .rest {
          display: flex;
          gap: 20px;

          .date-section {
            display: flex;
            flex-direction: column;
            justify-content: top;
            width: 50%;

            .date-inputs {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 10px;

              .small-input {
                width: 77px;
              }
            }
          }

          .cvc-section {
            display: flex;
            flex-direction: column;
            width: 50%;
          }
        }
      }
    }
  }
}
